div{
    width: 300px;
    margin: 200px 600px ;
    box-shadow: 0px 0px 10px grey;
    background-color: black;
}
input{
    width: 250px;
    height: 30px;
}
input:focus{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: wheat;
}